<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recippie.doctor.app">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_improved"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_improved"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchedulerDoctoreRecipe">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3331181764541043~5644017840"/>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.RestoreAlarmsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".bo.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.scheduler.receipts.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>